<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Platform.Collections" version="0.2.1" targetFramework="net472" />
  <package id="Platform.Collections.Methods" version="0.3.1" targetFramework="net472" />
  <package id="Platform.Communication" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Converters" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Data" version="0.3.0" targetFramework="net472" />
  <package id="Platform.Data.Doublets" version="0.6.6" targetFramework="net472" />
  <package id="Platform.Disposables" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Exceptions" version="0.3.0" targetFramework="net472" />
  <package id="Platform.Incrementers" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Interfaces" version="0.3.0" targetFramework="net472" />
  <package id="Platform.IO" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Memory" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Numbers" version="0.4.0" targetFramework="net472" />
  <package id="Platform.Random" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Ranges" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Reflection" version="0.4.0" targetFramework="net472" />
  <package id="Platform.Setters" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Singletons" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Threading" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Timestamps" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Unsafe" version="0.4.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.MemoryMappedFiles" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
</packages>