<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Platform.Collections" version="0.2.1" targetFramework="net472" />
  <package id="Platform.Communication" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Disposables" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Exceptions" version="0.3.0" targetFramework="net472" />
  <package id="Platform.Interfaces" version="0.3.0" targetFramework="net472" />
  <package id="Platform.Random" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Ranges" version="0.2.0" targetFramework="net472" />
  <package id="Platform.Reflection" version="0.4.0" targetFramework="net472" />
  <package id="Platform.Singletons" version="0.1.0" targetFramework="net472" />
  <package id="Platform.Threading" version="0.2.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
</packages>